.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
    display: block;
}

.modal.closing {
    display: block;
}

span.booking-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.booking-close:hover,
span.booking-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: animateModalIn .3s ease;
}

.modal-content>.modal-header>h2 {
    margin: 5px 0 0 0;
}

.modal.open>.modal-content {
    top: 200px;
}

.modal.closing>.modal-content {
    animation: animateModalOut .2s ease;
}

@keyframes animateModalIn {
    from {
        top: 200px;
        opacity: 0;
        transform: scale(0);
    }
    to {
        top: 200px;
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes animateModalOut {
    from {
        top: 200px;
        opacity: 1;
        transform: scale(1);
    }
    to {
        top: 200px;
        opacity: 0;
        transform: scale(0);
    }
}