{
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:jsdoc/recommended",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "ignorePatterns": ["*.yml"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "allowImportExportEverywhere": true
  },
  "rules": {
    "func-names": "off",
    "no-use-before-define": "off",
    "no-param-reassign": "off"
  },
  "globals": {
    "Drupal": "readonly",
    "drupalSettings": "readonly",
    "once": "readonly"
  }
}
