/**
 * Calendar header app styles.
 */
 button {
  padding: 5px 10px;
}

.calendar-header-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  div.datepicker-container {
    display: flex;
    justify-content: center;

    div.datepicker {
      display: flex;

      label {
        margin: auto;
      }
    }
  }

  .date-header {
    display: flex;
    justify-content: center;

    .datepicker {
      display: flex;
      align-items: center;
      padding-top: 0px;
    }
  }

  .calendar-title {
    cursor: pointer;
    margin: 0;

    span {
      padding-left: 10px;
    }
  }

  .calendar-datepicker-input {
    min-width: 0;
    max-width: 0;
    padding: 0;
    border: 0;

    &:focus-visible {
      outline: none;
    }
  }
}

label.datepicker-label {
  display: inline-block;
  position: relative;
  line-height: 0;
}

#calendar-datepicker {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  cursor: pointer;
}

#calendar-datepicker::-webkit-calendar-picker-indicator {
  position: absolute;
  top: -150%;
  left: -150%;
  width: 300%;
  height: 300%;
  cursor: pointer;
}

#calendar-datepicker::-webkit-clear-button {
  display: none;
}

#calendar-hours-filter {
  width: 125px;
  z-index: 1;
}

#calendar-datepicker + button {
  background-color: transparent;
  font-size: 22px;
  border: none;

  span {
    padding-left: 5px;
    font-size: 20px;
  }
}
