/**
 * Calendar header app styles.
 */
button {
  padding: 5px 10px;
}
.calendar-header-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .date-header {
    display: flex;
    justify-content: center;

    .datepicker {
      display: flex;
      align-items: center;
      padding-top: 0px;
    }
  }
  .calendar-title {
    cursor: pointer;
    margin: 0;

    span {
      padding-left: 10px;
    }
  }

  .calendar-datepicker-input {
    min-width: 0;
    max-width: 0;
    padding: 0;
    border: 0;

    &:focus-visible {
      outline: none;
    }
  }
}
