.calendar-container {
  .Calendar {
    padding: 15px !important;
    > div {
      padding-top: 0;
      > div {
        padding-top: 0 !important;
      }
    }

    table {
      margin-top: 0;
      margin-bottom: 0;

      td {
        height: 0;
      }

      tr {
        background: unset !important;
        &:hover {
          background: inherit;
        }
      }
    }

    .fc-timegrid-slots > table {
      background: #fff;
    }
    .fc .fc-timeline-bg {
      z-index: 999 !important;
    }
    #calendar-back {
      margin-right: 5px;
    }
    .fc .fc-resource-timeline .fc-resource-group:not([rowspan]) {
      background-color: #e9ecef !important;
    }

    .fc-timeline-slot-label {
      background-color: #fff !important;
    }

    .fc-timeline-slot-frame {
      a {
        color: #000;
      }
    }

    .fc-resource-group .fc-datagrid-cell-main {
      font-weight: bold;
      margin-left: 15px;
      font-size: 15px;
    }

    th[role="columnheader"] .fc-datagrid-expander-placeholder {
      display: none;
    }

    .fc-datagrid-expander-placeholder + .fc-datagrid-cell-main {
      font-weight: 400;
    }

    .fc .fc-timeline-now-indicator-line {
      pointer-events: none;
    }

    .resource-calendar-capacity-header > div > div {
      margin: auto;
    }

    .resource-calendar-capacity-value > div > div {
      text-align: right;
    }

    div.fc-highlight {
      display: block;
      border: 1px solid #84b6fc;
      background-color: #84b6fc !important;
    }

    .fc-timegrid-event-short .fc-event-time:after {
      display: none !important;
    }

    .fc-timegrid-event-harness > .fc-timegrid-event {
      left: -2px !important;
      right: -25px !important;
    }

    .fc .fc-timeline-now-indicator-container {
      z-index: 1;
    }
    .datepicker {
      text-align: center;
      font-size: 1.5em;
    }

    .calendar-nav {
      text-align: right;
    }

    .fc-datagrid-cell {
      height: auto;
      background-color: #fff !important;
    }
    .fc-event-main-frame {
      opacity: 0;
    }
  }
}
