div.resource-container {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #f1f1f1;

  div.resource-headline {
    display: flex;
    width: 100%;
    background-color: #2d3e4f;
    padding: 10px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    span {
      margin: auto auto auto 15px;
      color: #fff;
      font-size: 22px;
    }

    button {
      margin: auto 15px auto auto;
    }
  }

  div.resource-title {
    display: flex;
    padding: 20px 15px 5px 15px;

    h2 {
      font-weight: bold;
    }
  }
  div.resource-description {
    padding: 15px;

    > span {
      font-weight: bold;
    }

    div {
      padding: 10px 0 0 0;
    }
  }

  div.resource-details {
    display: flex;
    flex-direction: row;

    div.image {
      display: block;
      height: 300px;
      flex: 3;
      padding: 0 15px;
    }

    div.location {
      flex: 2;
      display: flex;
      flex-direction: column;
      padding: 0 15px;

      span {
        font-weight: bold;
      }

      div {
        padding: 10px 0 0 0;
      }
    }

    div.facilities {
      flex: 2;
      padding: 0 15px;

      span {
        font-weight: bold;
        margin-bottom: 5px;
      }

      div.facility-container {
        display: flex;
        flex-direction: column;

        div.facility-item {
          display: flex;
          padding: 10px 0 5px 0;

          div.facility-icon {
            margin: auto 5px auto 0;
            width: 30px;
            height: 25px;

            img {
              margin: auto;
            }
          }

          span {
            margin: auto auto auto 0;
          }
        }
      }
    }
  }
}
