body {
  margin: 40px 10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

#calendar-booking {
  user-select: none;
}

.fc .fc-timegrid-col.fc-day-today,
.fc .fc-daygrid-day.fc-day-today {
  /* Using specific selector here for overwriting plugin standards */
  background: #FFF;
  border: none;
}

.fc a.fc-timegrid-event {
  border-radius: 0;
}

html body .fc div.fc-event-time {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  width: 100%;
  margin: auto auto auto auto;
  text-align: center;
}

.fc-timegrid-event-short .fc-event-time:after {
  content: '';
}

.fc .fc-timegrid-now-indicator-container {
  border-right: 1px solid #e9e9e9;
}

div.loader {
  display: none;
}

div.loader.showing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 999;
  background-color: rgba(255,255,255,0.9);
  pointer-events: none;
}
div.loader.showing > img {
  margin: auto;
  display: inline-block;
  animation: rotateloader 1.3s linear infinite;
  height: 50px;
  width: 50px;
}

div.fc-resourceTimelineDay-view  a.fc-timeline-slot-cushion {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
div.fc-resourceTimelineDay-view div.fc-highlight {
  display: block;
  border: 1px solid #3788d8;
  border: 1px solid var(--fc-event-border-color, #3788d8);
  background-color: #3788d8;
  background-color: var(--fc-event-bg-color, #3788d8);
}

@keyframes rotateloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}